#power-menu {
  height: 100%;
  width: fit-content;
  padding: 3px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .power-icon {
    height: 20px;
    aspect-ratio: 1/1;
    width: auto;
    path {
      fill: white;
    }
  }
}
